{% extends 'base.html.twig' %}

{% block title %}{{offre.libelle}}{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ offre.libelle }}</h1>
        <h5 class="card-title">{{ offre.localisation }}</h5>
        <h6 class="card-title mb-2 text-muted">{{ offre.reference }}</h6>
        <p class="card-text">Age demandé: Entre {{ offre.agemin }} et {{ offre.ageMax }} ans</p>
        <p class="card-text">{{ offre.description }}</p>
        <p class="card-text">Type de contrat: {{ offre.typeContrats.libelle }}</p>
        <p class="card-title">Du {{ offre.dateDeb.format("d/m/Y") }} au {{ offre.dateFin.format("d/m/Y") }}</p>
        <br>
        <p class="card-text">Entreprise: {{ offre.clients.nom }}</p>
        <p class="card-text">Niveau demandé : {{ offre.niveaupro }}</p>

        <br>
        {% if app.user is defined and app.user is null %}
        <a href="/login" class="btn btn-primary">Se connecter pour postuler</a>
        {% endif %}

        {% if app.user is defined and app.user is not null %}
        <a href="{{ path('app_home_postuler', {'id': offre.id}) }}" class="btn btn-primary">Postuler</a>
        {% endif %}
        <ul>

        </ul>
    </div>
{% endblock %}
