{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <table>
                <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Référence</th>
                    <th>Localisation</th>
                </tr>
                </thead>
                <tbody>
                {% for offre in offres %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ offre.libelle }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ offre.reference }}</h6>
                            <p class="card-text">{{ offre.localisation }}</p>
                            <p class="card-text">Age demandé: Entre {{ offre.agemin }} et {{ offre.ageMax }} ans</p>
                            <p class="card-text">{{ offre.description }}</p>
                            <p class="card-text">Type de contrat: {{ offre.typeContrats.libelle }}</p>
                            <p class="card-text">Du {{ offre.dateDeb.format("d/m/Y") }} au {{ offre.dateFin.format("d/m/Y") }}</p>
                            <p class="card-text">Entreprise: {{ offre.clients.nom }}</p>
                            <p class="card-text">Du {{ offre.datedebut }} au {{ offre.datefin }}</p>
                        </div>
                    </div>
                {% endfor %}

                </tbody>
            </table>

            <li>Your controller at <code><a href="{{ '/srv/app/src/Controller/OffreController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/srv/app/templates/offre/index.html.twig'|file_link(0) }}">templates/offre/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
